<div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title visible-xs-inline">
                                <strong>Về tụi mình</strong>
                                <div fb-like="myModel.Url" style="float: right;"></div>
                            </h1>
                            <h1 class="panel-title hidden-xs" style="font-size: 36px">
                                <strong>Về tụi mình</strong>
                                <div fb-like="myModel.Url" style="float: right;margin-top: -10px;"></div>
                            </h1>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-6" style="margin-bottom: 50px;">
                                        <img ng-src="{{getImage('vu.png')}}" class="img-thumbnail">

                                        <h3 class="visible-xs-inline"><span class="label label-success">Trần Đoàn Khánh Vũ</span></h3>
                                        <h1 class="hidden-xs"><span class="label label-success">Trần Đoàn Khánh Vũ</span></h1>
                                    </div>
                                    <div class="col-md-6">
                                        <img ng-src="{{getImage('phuc.jpg')}}" class="img-thumbnail">

                                        <h3 class="visible-xs-inline"><span class="label label-success">Nguyễn Quang Phúc</span></h3>
                                        <h1 class="hidden-xs"><span class="label label-success">Nguyễn Quang Phúc</span></h1>
                                    </div>
                                </div>
                                <div class="well well-lg" style="margin-top:50px;">
                                    <strong class="text-danger">
                                        Tụi mình rất bức xúc trước cảnh trái cây Trung Quốc tràn vô tội vạ vào nước mình và
                                        gây hại cho người dùng với đủ hóa chất bảo quản độc hại. Thế nên, tụi mình làm web
                                        này để giúp người dân thêm kiến thức phòng tránh mua phải trái cây Trung Quốc.
                                    </strong>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title visible-xs-inline">
                                <strong>Đăng kí tham gia</strong>
                                <div fb-like="myModel.Url" style="float: right;"></div>
                            </h1>
                            <h1 class="panel-title hidden-xs" style="font-size: 36px">
                                <strong>Đăng kí tham gia</strong>
                                <div fb-like="myModel.Url" style="float: right;margin-top: -10px;"></div>
                            </h1>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <form class="form-horizontal" novalidate ng-hide="submitted"
                                      ng-submit="submitForm()">
                                    <div class="form-group" ng-class="nameClass">
                                        <label for="inputName" class="col-sm-2 control-label">Họ Tên</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="name"
                                                   id="inputName" placeholder="Họ Tên">
                                            <span id="inputNameHelp" class="help-block"
                                                    ng-show="nameClass == 'has-error'">
                                                Xin hãy nhập Họ Tên
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="emailClass">
                                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" ng-model="email"
                                                   id="inputEmail" placeholder="Email">
                                            <span id="inputEmailHelp" class="help-block"
                                                  ng-show="emailClass == 'has-error'">
                                                Xin hãy nhập Email format a@a.com
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="positionClass">
                                        <label for="inputPosition" class="col-sm-2 control-label">Vị Trí</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="inputPosition"
                                                    ng-model="position">
                                                <option>Thiết Kế</option>
                                                <option>Lập Trình</option>
                                                <option>Đóng Góp Thông Tin</option>
                                                <option>PR</option>
                                            </select>
                                            <span id="inputPositionHelp" class="help-block"
                                                  ng-show="positionClass == 'has-error'">
                                                Xin hãy chọn Vị Trí
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment" class="col-sm-2 control-label">Ghi Chú</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" ng-model="comment"
                                                      id="inputComment" rows="3"></textarea>                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit"
                                                    class="btn btn-default">Đăng Kí</button>
                                        </div>
                                    </div>
                                </form>
                                <p ng-show="submitted">
                                    Cảm ơn bạn <strong>{{name}}</strong> đã đăng kí tham gia vào
                                    vị trí <strong>{{position}}</strong>.
                                    Tụi mình sẽ liên hệ lại bạn qua email <strong>{{email}}</strong> sau.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title visible-xs-inline">
                                <strong>Liên Hệ</strong>
                                <div fb-like="myModel.Url" style="float: right;"></div>
                            </h1>
                            <h1 class="panel-title hidden-xs" style="font-size: 36px">
                                <strong>Liên Hệ</strong>
                                <div fb-like="myModel.Url" style="float: right;margin-top: -10px;"></div>
                            </h1>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <div class="col-md-3">
                                    <h1>
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    </h1>tdkhanhvu@gmail.com
                                </div>
                                <div class="col-md-3">
                                    <h1>
                                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                    </h1> Sẽ cập nhật
                                </div>
                                <div class="col-md-3">
                                    <h1>
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    </h1><a href="https://www.facebook.com/tdkhanhvu">Facebook</a>
                                </div>
                                <div class="col-md-3">
                                    <h1>
                                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                    </h1><a href="https://www.facebook.com/tdkhanhvu">Website</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>