<!doctype html>
<html ng-app="fakefruit">
  <head>
    <title>Fakefruit v0.1</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <table class="login-table" ng-controller="login">
      <tr>
        <td>
          <input class="form-control" type="text" placeholder="{{usr}}"  ng-model="main.username" />
        </td>
        <td>
          <input class="form-control" type="password" placeholder="{{pwd}}" ng-model="main.password" />
        </td>
        <td>
          <button class="btn btn-default" ng-click="main.login()">{{lgn}}</button>
        </td>
      </tr>
    </table>
    <div class="main-div">
      <div>Hello Welcome to Fakefruit!</div>
        <div ng-view></div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/dropdown/select2.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/MainController.js"></script>
    <script src="js/UserController.js"></script>
    <script src="js/RepoController.js"></script>
    <script src="js/github.js"></script>
  </body>
</html>