<div>
    <div class="row" style="margin-top: 30px;">
        <!--<div id="facebook-share" class="fb-like" -->
        <!--        data-href="" -->
        <!--        data-layout="standard" -->
        <!--        data-action="like" -->
        <!--        data-show-faces="true" -->
        <!--        data-share="true"></div>-->
        <div class="col-xs-12 col-md-2">
            <div class="row">
                <div class="col-xs-6 col-md-12">
                    <fruit-selection></fruit-selection>
                </div>
                <div class="col-xs-6 col-md-12">
                    <type-selection></type-selection>
                </div>
                <div class="col-xs-12 col-md-12">
                    <origin-selection></origin-selection>
                </div>
                <div fb-like="myModel.Url"></div>
                <!--<div fb-like></div>-->
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Thông Tin</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div ng-hide="showTable()">Xin hãy chọn trái cây để xem thông tin</div>
                            <div class="table-responsive hidden-xs" ng-show="showTable()">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th class="hidden-xs">Nhóm</th>
                                        <th class="hidden-xs">Gốc</th>
                                        <th class="text-center" ng-repeat="origin in origins" ng-show="origin.visible">{{origin.name}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td rowspan="1" class="hidden-xs"></td>
                                        <td class="hidden-xs">
                                            Hình
                                        </td>
                                        <td ng-repeat="origin in origins" ng-show="origin.visible">
                                            <img ng-src="{{origin.image}}"
                                                 title="{{origin.name}}">
                                        </td>
                                    </tr>
                                    <tr ng-repeat="attribute in attributes" class="">
                                        <td rowspan="{{attribute.rows}}" class="hidden-xs"
                                            ng-if="attribute.rows != 0">
                                            <button type="button" class="btn btn-{{attribute.class}}">
                                                {{attribute.group}}
                                            </button>
                                        </td>
                                        <td class="hidden-xs">
                                            <span class="label label-{{attribute.class}}">{{attribute.name}}</span>
                                        </td>
                                        <td ng-repeat="origin in origins" ng-show="origin.visible">
                                            <strong ng-if="origin.id == 'trungquoc'" class="text-danger">
                                                {{origin.description[attribute.id]}}
                                            </strong>
                                    <span ng-if="origin.id != 'trungquoc'">
                                        {{origin.description[attribute.id]}}
                                    </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="visible-xs-inline">
                                <div class="col-xs-12 panel panel-success" style="padding:0"
                                     ng-repeat="origin in origins" ng-show="origin.visible">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text-center"><strong>{{origin.name}}</strong></h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <img ng-src="{{origin.image}}" class="img-thumbnail"
                                                 title="{{origin.name}}">
                                        </p>
                                        <p ng-repeat="attribute in attributes" ng-if="origin.description[attribute.id]">
                                            <span class="label label-{{attribute.class}}">{{attribute.name}}</span>
                                            <strong ng-if="origin.id == 'trungquoc'" class="text-danger">
                                                {{origin.description[attribute.id]}}
                                            </strong>
                                <span ng-if="origin.id != 'trungquoc'">
                                    {{origin.description[attribute.id]}}
                                </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $("facebook-share").data("href", "www.google.com");
</script>