<div style="margin-top: 80px">
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-2">
            <fruit-selection></fruit-selection>
            <type-selection></type-selection>
            <origin-selection></origin-selection>
        </div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Thông Tin</strong></h3>
                </div>
                <div class="panel-body">
                    <div ng-hide="showTable()">Xin hãy chọn trái cây để xem thông tin</div>
                    <div class="table-responsive" ng-show="showTable()">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr class="bg-primary">
                                <th class="hidden-xs">Nhóm</th>
                                <th class="hidden-xs">Gốc</th>
                                <th ng-repeat="origin in origins" ng-show="origin.visible">{{origin.name}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td rowspan="1" class="hidden-xs"></td>
                                <td class="hidden-xs">
                                    Hình
                                </td>
                                <td ng-repeat="origin in origins" ng-show="origin.visible">
                                    <img ng-src="{{origin.image}}"
                                         title="{{origin.name}}">
                                </td>
                            </tr>
                            <tr ng-repeat="attribute in attributes" class="">
                                <td rowspan="{{attribute.rows}}" class="hidden-xs"
                                    ng-if="attribute.rows != 0">
                                    <button type="button" class="btn btn-{{attribute.class}}">
                                        {{attribute.group}}
                                    </button>
                                </td>
                                <td class="hidden-xs">
                                    <span class="label label-{{attribute.class}}">{{attribute.name}}</span>
                                </td>
                                <td ng-repeat="origin in origins" ng-show="origin.visible">
                                    <strong ng-if="origin.id == 'trungquoc'">{{origin.description[attribute.id]}}</strong>
                                    <span ng-if="origin.id != 'trungquoc'">{{origin.description[attribute.id]}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>