<div>
    <select id="searchFruit"  style="min-width:200px;display:block"
            ng-model="fruit" ng-change="search(fruit)">
        <option ng-repeat="fruit in fruits" value="{{fruit.id}}">{{fruit.id}}</option>
    </select>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-repeat="origin in origins"
               ng-class="{'active': origin.visible}">
            <input type="checkbox" autocomplete="off" checked
                   ng-model="origin.visible">{{origin.name}}
        </label>
    </div>

    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" ng-show="origins.length">
                <thead>
                <tr>
                    <th>Tên</th>
                    <th ng-repeat="origin in origins" ng-show="origin.visible">{{origin.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Hình
                    </td>
                    <td ng-repeat="origin in origins" ng-show="origin.visible">
                        <img style="width:200px" ng-src="{{origin.image}}"
                             title="{{origin.name}}">
                    </td>
                </tr>
                <tr ng-repeat="attribute in attributes">
                    <td>{{attribute}}</td>
                    <td ng-repeat="origin in origins" ng-show="origin.visible">
                        {{origin.description[attribute]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>